# **DATA Loading Scripts:**

Below are the scripts that will allow me to load a large amount of data from one Database to a newer one. 

Code Breakdown:

- My first step is to include a USE clase to verify that I am in fact working with the correct Database.
- Now to start the process you will include the INSERT INTO clause while adding the correct columns in the following brackets.
- In the SELECT location, this details what columns you want to export the data from, in the case of the f.Sales table. 
    - I have data coming in from 3 different tables which are possible by using the INNER JOIN clause.
    - This allows me to connect all three tables into one via the select caluse and verify the data I require and want to extract into my f.Sales data
- In the case of the Sales Person, an concatenate was requried as the Northwind\_2023 information has the first name and last name in separate fields.
- TotalSales required calculations as the NW\_2023 DB had UnitPrice and Quantity separate.

In [ ]:
USE RHNSCC_DD;
GO

INSERT INTO.dim.Products (ProductID, Product, ProductCategory)
SELECT prod.ProductID + 1000
	 , prod.ProductName
	 , cat.CategoryName
FROM NorthWind_2023.dbo.Products prod
	INNER JOIN NorthWind_2023.dbo.Categories cat
	ON prod.CategoryID = cat.CategoryID


INSERT INTO f.Sales	(Product, SalesPerson, SalesDate, TotalSales)
Select o.OrderID
	 , CONCAT(emp.FirstName, ' ', emp.LastName)
	 , OrderDate
	 , od.UnitPrice * od.Quantity
FROM NorthWind_2023.dbo.Orders o
	INNER JOIN NorthWind_2023.dbo.OrderDetails od
	ON o.OrderID = od.OrderID
	INNER JOIN NorthWind_2023.dbo.Employees emp
	ON o.EmployeeID = emp.EmployeeID